.location {
  display: flex;
  flex-direction: column;
}
.dropdowns-location {
  display: flex;
  gap: 20px;
}
@media screen and (max-width: 900px){
  .dropdowns-location {
    flex-direction: column;
  }
  .location-information{
    width: 100%;
  }
}