.location-card {
  width: 340px;
  height: 340px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.location-card img {
  object-fit: cover;
  height: 100%;
  min-width: 100%;
}

.location-card h3 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
}
/* @media screen and (max-width: 700px){
  .location-card{
    width: 300px;
  }
} */

