.location-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
  background: #f7f7f7;
  border-radius: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.location-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
