header {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 30px;
  flex-direction: row;
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: var(--body-clr);
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
}

nav .active {
  text-decoration: underline;
}

@media screen and (max-width: 1100px){
  nav li a {
    font-size: 24px;
  }
  .logo-header{
    width: 180px;
  }
  nav ul {
    gap: 10px;
  }
}

@media screen and (max-width: 600px){
  nav li a {
    font-size: 12px;
  }
  .logo-header{
    width: 145px;
  }
}