
.banner {
    --gradient: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 223px;
  }
  
.home .banner {
    background-image: var(--gradient), url(../../assets/bannerHome.png);

}
.about .banner {
    background-image: var(--gradient), url(../../assets/bannerAbout.png);

}
.banner h2 {
    font-size: 36px;
    color: white;
    font-weight: 500;
}
  